---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'

const articles = await getCollection('articles', ({ data }) => {
  return import.meta.env.DEV || !data.draft
})

// Sort articles by date
articles.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

function getArticleUrl(article: CollectionEntry<'articles'>) {
  const date = article.data.date
  const formattedDate = `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`
  return `/articles/${formattedDate}-${article.data.slug}`
}
---

<BaseLayout title="Articles">
  <h1>Articles</h1>
  {
    articles.map(article => (
      <>
        <h2>
          <a href={getArticleUrl(article)}>{article.data.title}</a>
          <time class="text-gray-500" datetime={article.data.date.toISOString()}>
            {article.data.date.toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })}
          </time>
        </h2>
        <p>
          <span set:text={article.data.description} />
          <a href={getArticleUrl(article)} class="no-underline">
            →
          </a>
        </p>
      </>
    ))
  }
</BaseLayout>
